@charset "UTF-8";

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lato/Lato-Bold.woff') format('woff'),
       url('../fonts/Lato/Lato-Bold.ttf')  format('truetype'),
       url('../fonts/Lato/Lato-Bold.svg#Lato-Bold') format('svg');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lato/Lato-Semibold.woff') format('woff'),
       url('../fonts/Lato/Lato-Semibold.ttf')  format('truetype'),
       url('../fonts/Lato/Lato-Semibold.svg#Lato-Semibold') format('svg');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lato/Lato-Medium.woff') format('woff'),
       url('../fonts/Lato/Lato-Medium.ttf')  format('truetype'),
       url('../fonts/Lato/Lato-Medium.svg#Lato-Medium') format('svg');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lato/Lato-Regular.woff') format('woff'),
       url('../fonts/Lato/Lato-Regular.ttf')  format('truetype'),
       url('../fonts/Lato/Lato-Regular.svg#Lato-Regular') format('svg');
}

@font-face {
  font-family: "Bebas";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BebasRegular/BebasRegular.eot");
  src: url("../fonts/BebasRegular/BebasRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BebasRegular/BebasRegular.woff") format("woff"),
  url("../fonts/BebasRegular/BebasRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Bebas";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/BebasBold/BebasBold.eot");
  src: url("../fonts/BebasBold/BebasBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BebasBold/BebasBold.woff") format("woff"),
  url("../fonts/BebasBold/BebasBold.ttf") format("truetype");
}
@font-face {
  font-family: "Bebas";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/BebasLight/BebasLight.eot");
  src: url("../fonts/BebasLight/BebasLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BebasLight/BebasLight.woff") format("woff"),
  url("../fonts/BebasLight/BebasLight.ttf") format("truetype");
}

@font-face {
  font-family: "Heuristica";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Heuristica/HeuristicaRegular.eot");
  src: url("../fonts/Heuristica/HeuristicaRegular.eot?#iefix")format("embedded-opentype"),
       url("../fonts/Heuristica/HeuristicaRegular.woff") format("woff"),
       url("../fonts/Heuristica/HeuristicaRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Heuristica";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Heuristica/HeuristicaBold.eot");
  src: url("../fonts/Heuristica/HeuristicaBold.eot?#iefix")format("embedded-opentype"),
       url("../fonts/Heuristica/HeuristicaBold.woff") format("woff"),
       url("../fonts/Heuristica/HeuristicaBold.ttf") format("truetype");
}